:root {
  --bg: #fff;
  --primary2: #ff0000;
  --primary3: #0077ff;
  --primary4: #fafafa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: var(--bg);
  color: #fafafa;
  min-height: auto;
}

.kontak1 {
  background-color: rgb(68, 67, 73);
}

.Main-Wrapper {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.kontak-right,
.kontak-left {
  display: flex;
  list-style-type: none;
}

.kontak-left > li,
.kontak-right > li {
  display: flex;
}



.kontak-right > li > a,
.kontak-left > li > a {
  height: 40px;
  text-align: center;
  border: none;
  color: rgb(255, 255, 255);
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.kontak-right > li > a:hover,
.kontak-left > li > a:hover {
  color: #ff0000;
}

.header {
  padding: 20px 0;
  background-color: rgb(221, 220, 220);
}

.logo {
  color: #ff0000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.search {
  min-height: 40px;
  padding-left: 50px;
  width: 100%;

}

.search1{
  border-width: 3px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  max-width: 300px;
  text-align: center;
  min-width: 400px;
}



.search-bar {
  display: flex;
  border-width: 1px;
  border-radius: 40px;
  border-style: solid;
  height: 40px;
  border-color: rgb(80, 80, 80);
  max-width: 400px;
  overflow: hidden;
  position: relative;
  min-width: 400px;
}

.search-bar  i {
  width: 50px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
}

.navbar2 {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar1 {
  background-color: #0e46a3;
  width: 100%;
}

.navbar2 > li {
  min-width: 40px;
  text-align: center;
}

.navbar2 > li > a {
  height: 100%;
  display: flex;
  line-height: 40px;
  color: #fff;
  padding: 10px 90px;
  text-align: center;
  text-decoration: none;
  text-wrap: nowrap;
}

.navbar2 > li > a:hover {
  background-color: #fff;
  color: #0e46a3;
  line-height: 40px;
  padding: 10px 90px;
}

/* css for auto slide navigation*/

/* caution*/

.caution {
  background-color: rgb(68, 67, 73);
}

.waktu {
  margin: 20px;
  color: #fff;
  width: auto;
  list-style-type: none;
  padding: 0;
}

.waktu > li > a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: flex;
  gap: 8px;
}

.caution > .Main-Wrapper {
  display: flex;
  justify-content: space-around;
}

/* row */

.menu {
  overflow: hidden;
}

.menu > .row {
  background-color: #0e46a3;
}

.menu-section {
  display: flex;
  justify-content: center;
}

.menu-section li {
  list-style: none;
}

.nav-item{
  font-size: 10px;
}

/* .menu-section li a span  {
	display: block;
	width: 120px;
	height: 120px;
	background-color: rgba(200, 200, 200, .5);
	position: absolute;
	top: 0;
	text-align: center;
	line-height: 120px;
	color: #333;
	text-shadow: 1px 1px 1px #ddd;
	transform: scale(0) rotate(0);
	opacity: 0;
	transition: 0.3s;
} */

/* .menu-section li a:hover span {
	opacity: 1;
	transform: scale(1) rotate(360deg);
} */

.picture-motor{
  width: 100%;
}
.motor-card {
  width: 250px;
  height: 250px;
  border-radius: 70%;
  margin-top: 5px;
  padding: 10px;
}

.motor-card:hover {
  background: #ff0000;
}

.modal {
  background:#000000;
  opacity: 100%;
  justify-content: center;
  align-items: center;
}

.modal-container {
  border: 2px solid;
  width: 500px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 10px;
  background-color: #0077ff;
}

.contact-modal {
  display: flex;
  justify-content: center;
}

.contact-modal > span {
  margin: 20px;
}
.contact-modal > span > i{
  font-size: 50px;
}

.close-btn {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px;
}

.close-btn > h2 {
  font-size: 20px;
}
/*Box heading */

.wrapper-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Box-heading {
  display: flex;
  width: 100%;
}

.Box-heading > .Main-Wrapper {
  background-color: #ff0000;
}

.Box,
.Box2 {
  display: flex;
  list-style-type: none;
  width: 50%;
  justify-content: center;
  height: 40px;
  align-items: center;
  margin: 0;
}

.Box {
  background-color: #ff0000;
}

.Box2 {
  background-color: rgb(68, 67, 73);
}

.Box:hover {
  background-color: rgb(68, 67, 73);
}

.Box-heading :hover {
  background-color: #ff0000;
}

.Box > li > a,
.Box2 > li > a {
  color: #fafafa;
  font-size: 18px;
  text-decoration: none;
}

/* Product-card */

.wrapper-card {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.pic-card1 {
  width: 200px;
  height: 200px;
  align-items: center;
}

.pic-card ul{
  margin: 0;
  padding: 0;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.pic-card {
  border: 3px solid #0e46a3;
  border-radius: 2%;
  cursor: pointer;
}

.pic-card h3 {
  text-align: center;
}

.pic-card p {
  text-align: center;
}



/* Heading black box */

.footer-extended{
  width: 100%;
}

footer{
  background: #0E46A3;
  width: 100%;
  text-align: center;
  padding: 2rem;
  margin-top: 30px;
}
.footer h3{
  font-size: 2rem;
  margin: 2rem 0;
  color: var(--min-color);
}
.footer p{
  font-size: 1.6rem;
  margin: 1rem 0;
  color: var(--min-color);
}
.footer i{
  font-size: 2.6rem;
  margin: 1rem 0.5rem;
  color: var(--min-color);
  cursor: pointer;
}
.footer i:hover,
.footer a:hover{
  color: var(--sc-color);
}
.footer a{
  display: block;
  font-size: 1rem;
  margin: 0.5rem;
  color: var(--min-color);
}

.search-bottom{
  max-width: auto;
  display: flex;
  justify-content: center;
}




.footer-bottom {
  display: flex;
  justify-content: center; 
  
}

.links {
  display: flex;
  justify-content: space-around;
}




/* HTML motorbekas */

.nav-beranda{
  padding: 10px;
  background-color:rgb(221, 220, 220);
}

.beranda{
  display: flex;
  margin-left: 80px;
  align-items: center;

}
.beranda1{
  list-style-type: none;
  display: flex;
  margin: 0;
}


.beranda1 li a{
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}

.beranda ul li a:hover{
  color: red;
}

/* Slider */




.slider{
  margin-bottom: 20px;
  background-color:#ff0000;
  padding: 15px;
  width: 200px;
  margin-top: 30px;
}
.slide1{
max-width: 200px;
}

.harga1{
  background-color:#ff0000;
  padding: 15px;
  width: 200px;
  margin-top: 30px;
}

.box-heading{
  color: #fafafa;
  font-family: sans-serif;
}
.slide2{
max-width: 200px;
font-size: 15px;
background-color: rgb(221, 220, 220);
border-radius: 10px;
}

.coloum-left{
  width: 200px;
}

.content-wrapper{
  align-items: flex-start;
  justify-content: flex-start;
}

.image-swipper{
  margin-left: 20px;
  background-color: rgb(221, 220, 220);
  padding: 10px;
}

.image-japan{
  border: 3px solid #000000;
}

.image-swipper:hover{
background-color: #ff0000;
}

.image-swipper a{
  text-decoration: none;
}

.swiper{
  display: flex;
}



.content1{
  color: #fff;
  margin-bottom: 20px;
  background-color:#ff0000;
  padding: 15px;
  width: 800px;
  margin-top: 30px;
  margin-left: 20px;
  font-family:sans-serif
}

.category-name{
  font-size: 15px;
  color: #000000;
  text-align: center;
}

/* category filter */


.product-filter{
  display: flex;
  padding: 15px;
  background-color: #ff0000;
  margin-left: 20px;
  margin-top: 30px;
  align-items: center;
}

.display{
  color: #fafafa;
  font-size: 20px;
}

.grid-view{
  color: #fafafa;
  font-size: 20px;
  
}

.product-compare {
  margin-left: 10px;
}

.product-compare a{
  text-decoration: none;
  color: #000000;
}

.limit{
  margin-left: 10px;
}

.sort{
  margin-left: auto;
}

/* Kolom */

.Main-Wrapper1{
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}



.Motor-bekas{
  width:800px
}


/*Pagintaion*/
.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination-class{
  padding: 15px;
  background-color: red;
  margin-top: 30px;
  width: 800px;
}

.results{
  margin: auto;

}

.links-pagination{
  margin-left: 100px;
  gap: 20px;
  font-family: sans-serif;
  background-color:#fafafa;
  padding: 10px;
  border-radius: 10px;
}

.links-pagination a{
  text-decoration: none;
}

.links-pagination a:hover{
  color: #ff0000;
}


/* HTML danatuani */

.padding-content-tunai{
  padding-left:150px ;
  width: 1200px;
  padding-top: 30px;
}

.content-tunai h1{
  font-size: 15px;
  padding: 15px;
  background-color: #ff0000;
  font-family: sans-serif;
}

.buttons{
  background-color: var(--primary2);
  padding: 15px;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  justify-content: right;
}

.right{
  margin-right: 70px;
  border-radius: 10px;
  background-color: #fafafa;
  width: 80px;
  text-align: center;
  height: 20px;
}

.buttons :hover{
  background-color: var(--primary3);
}


/* Blog */

.content-blog{
  background-color: #ff0000;
  margin-top: 30px;
  padding: 15px;
  margin-left: 150px;
  margin-right: 150px;  
}

.main-blog  {
  font-size: 15px;
  font-family: sans-serif;
  align-items: center;
}

.wrapper-blog-image{
  display: flex;
  margin-top: 30px;
  padding: 15px;
  margin-left: 150px;
  margin-right: 150px;  
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.pic-card-image{
  padding: 20px;
  background-color: red;
  width: 290px;
  display: flex;
  flex-direction: column;
}


.blog-card-title{
  color: #fafafa;
  text-align: center;
}

.blog-card-price{
  color: #fafafa;
  text-align: center;
}

.comment-date{
  display: flex;
  justify-content: center;
  color: #fafafa;
  gap: 5px;
  margin-bottom: 5px;
}

.post-view-more-button{
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #fafafa;
  width: 80px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--primary3);
  align-self: center;
}



.comment-date i{
  margin-right: 5px;
}

.post-text{
  color: #fafafa;
}

/* Animasi */
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes zoomDanFade {
	0% {
		transform: scale(.5);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes slideDown {
	0% {
		opacity: 0;
		margin-top: -20px;
	}
	100% {
		opacity: 1;
		margin-top: 1;
	}
}

/* media queries */
@media screen and (min-width: 1920px) {
  html {
    font-size: 100%;
  }

  .row-sticky{
    display: none;
  }

  .burger-menu-filter{
    display: none;
  }


}

/* Tablet */
@media (max-width: 1024px) {
  html {
    font-size: 62.5%;
  }

  #Menu{
    display: inline-block;
  }

  .Main-Wrapper{
    width: 100%;
  }

  .motor-card{
    width: 150px;
    height: 150px;
    padding: 5px;
   }

   /* motorbekas */

   .Main-content{
    width: 100%;
   }

  .content1{
    width: auto;
    margin-left: auto;
  }

  .Motor-bekas{
    width: 100%;
  }

  .pagination-class{
    width: auto;
    margin-left:auto ;
  }
  .coloum-left1{
    display: none;
  }

  .coloum-left{
    margin-left: 50px;
  }

  .navbar1{
    display: none;
  }

  .product-filter{
    margin-left: auto;
  }

} 

/* Phone */

@media (max-width: 450px) {
  html {
    font-size: 62.5%;
  }
  
  /* Index */
  .search-bar{
    min-width: unset;
    width: 100%;
  }
   .logo-web{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
   }

   .navbar1{
    display: none;

   }

   .motor-card{
    width: 150px;
    height: 150px;
    padding: 5px;
   }

   

    .picture-motor .menu-section{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
    }

    .search-bar-content, .search-bar-bottom{
      max-width: 200px;

    }

    .Main-Wrapper{
      display: flex;
      justify-content: center;
      text-align: center;
    }
   
    .kontak-left{
      padding-left: 0;
    }

    .kontak-right{
      padding-left: 0;
    }

    .Box{
      padding-left: 0;
    }

    .Box2{
      padding-left: 0;
    }

    /* motorbekas */

    .coloum-left1{
      display: none;
    }

   .Main-content{
   width: 100%;
   }

  .content1{
    width: 100%;
    display: flex;
    margin-left: auto;
  }

  
  .swiper{
    display: none;

  }

  .product-filter{
    margin-left: auto;
  }

  .Motor-bekas{
    width: auto;
  }

  .pagination-class{
    width: auto;
  }

  .links-pagination{
    margin-left: auto;
  }

  .beranda{
    margin-left: auto;
  }

} 

/* laptop */
@media (min-width: 1360px) {
  html {
    font-size: 75%;
  }
  
  .row-sticky{
    display: none;
  }

  .burger-menu-filter{
    display: none;
  }
}

/* tablet */
/* @media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  
  #Burger-menu {
    display: inline-block;
  }

  .Kontak1 > .Main-Wrapper {
    display: block;
  }

  .navbar1 .navbar-nav1 {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    border: 1px solid black;
  }
  
  .navbar1 .navbar-nav.active {
    right: 0;
  }
  
  .navbar1 .navbar-nav1 a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  
  .navbar1 .navbar-nav1 a::after {
    transform-origin: 0 0;
  }
  
  .navbar1 .navbar-nav1 a:hover:after {
    transform: scaleX(0.2);
  }

  .Main-Wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .about .row {
    flex-wrap: wrap;
  }
  
  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  
  .about .row .content {
    padding: 0;
  }
  
  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  
  .about .row .content p {
    font-size: 1.6rem;
  }

  .search-bar-bottom {
    margin: 40px;
    padding: 10px;
  }
  
  .navbar2{
    flex-wrap: wrap;
  }
  .footer, .footer-bottom, .links, .search-bar-content {
    display: block;
  }
  .search-bar-bottom > .search-bar {
    display: flex;
    align-items: center;
    margin: auto;
    width: 40%;
  }
} */

/* mobile */
/* @media (max-width: 450px) {
  html {
    font-size: 55%;
  }
} */


/* Media Query */

